.form {
  box-sizing: border-box;
  width: 430px;
  padding: 34px 36px 37px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .form {
    padding: 25px 22px 25px 22px;
    width: calc(100% - (19px * 2));
    box-sizing: content-box;
  }
}
