.form__button-save {
  border: none;
  outline: none;
  display: block;
  padding: 0;
  margin-top: 15px;
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 2px;
  min-height: 50px;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.21;
}

.form__button-save:hover,
.form__button-save:active {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .form__button-save {
    margin-top: 31px;
    min-height: 46px;
    font-size: 14px;
  }
}
