.profile__add {
  background-color: none;
  border: none;
  outline: none;
  align-self: center;
  padding: 0;
  width: 150px;
  height: 50px;
  justify-self: end;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background: transparent url(../../../images/add-button.svg) no-repeat;
  background-position: center;
  cursor: pointer;
}

.profile__add:hover,
.profile__add:active {
  opacity: 0.6;
}

@media (max-width: 767px) {
  .profile__add {
    width: 282px;
    background-size: 16px;
  }
}
