.popup__add-name {
    padding: 13px 0 13px;
    margin-bottom: 17px;
    border: none;
    border-bottom: 1px solid #000000;
    transition: 0.3s;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
}

.popup__add-name:focus {
    padding-left: 10px;
    outline: none;
}