.form__input {
  padding-bottom: 13px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  transition: 0.3s;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  outline: none;
  width: 100%;
  background-color: white;
}

.form__input:focus {
  padding-left: 10px;

} 

.form__input:visited {
  background-color: none;
}

.form__input:focus-visible {
  background-color: none;
}