.profile__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  margin-top: 7px;
  width: max-content;
  max-width: 300px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
}

@media (max-width: 767px) {
  .profile__description {
    max-width: 200px;
    font-size: 14px;
    text-align: center;
    min-height: unset;
  }
}
