@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    font-family: 'Inter';
    color: #FFFFFF;
    width: 100%;
}

.form {
    position: relative;
    width: 100vw;
    height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    display: none;
}

.form_active {
    display: flex;
}

@media (max-width: 767px) {
    .form {
        padding-left: 19px;
        padding-right: 19px;  
        box-sizing: border-box;   
 }
}

.form::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
}

.form__container {
    position: relative;
    z-index: 1;
    padding: 34px 36px 37px;
    box-sizing: border-box;
    width: 430px;
    border-radius: 10px;
    opacity: 1;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
}

@media (max-width: 767px) {
    .form__container {
        padding: 25px 22px 25px 22px;
        width: calc(100% - (19px * 2));
 }
}

.form__title {
    margin: 0;
    margin-bottom: 37px;
    width: 100%;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 29px;
}

@media (max-width: 767px) {
    .form__title {
        margin-bottom: 62px;
font-size: 18px;
line-height: 22px;
 }
}

.form__add-name {
    padding: 0;
    margin-bottom: 17px;
    padding-top: 13px;
    padding-bottom: 13px;
    border: none;
    border-bottom: 1px solid #000000;
    transition: 0.3s;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
}

.form__add-name:focus {
    padding-left: 10px;
    outline: none;
}

.form__add-description {
    padding: 0;
    padding-top: 13px;
    padding-bottom: 13px;
    border: none;
    border-bottom: 1px solid #000000;
    transition: 0.3s;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
}

.form__add-description:focus {
    padding-left: 10px;
    outline: none;
}

.form__button {
    display: block;
    padding: 0;
    margin-top: 48px;
    width: 100%;
    border: none;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 2px;
    height: 50px;
}

.form__button:hover, .form__button:active {
    opacity: 0.8;
}

@media (max-width: 767px) {
    .form__button{
        margin-top: 45px;
        height: 46px;
        font-size: 14px;
line-height: 17px;
 }
}


.form__button-close {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    aspect-ratio: 1/1;
    border: none;
    background-color: transparent;
    background-image: url(../images/close-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.form__button-close:hover, .form__button-close:active {
    opacity: 0.6;
}

@media (max-width: 767px) {
    .form__button-close {
        width: 20px;
        top: -36px;
        right: 0;
        
 }
}

.header {
    width: 880px;
    height: 120px;
    padding-top: 41px;
    padding-bottom: 45px;
    box-sizing: border-box;
    border-bottom: 1px solid #545454 ;
}

@media (max-width: 916px) {
    .header {
        padding-left: 19px;
        padding-right: 19px;
        width: calc(100% - 19px*2);
    }
}

@media (max-width: 767px) {
    .header {
        padding: 28px 0 31.6px 27px;
        width: 100%;
    }
}

.main {
    width: 880px;
}

@media (max-width: 916px) {
    .main {
        padding: 0 19px 0 19px;
        width: calc(100% - 19px*2);
    }
}

.profile {
    padding-top: 36px;
    padding-bottom: 47px;
    width: 100%;
    display: grid;
    grid-template-columns: max-content 1fr max-content ;
}

@media (max-width: 767px) {
    .profile {
        padding-top: 42px;
    padding-bottom: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}

.profile__photo {
    width: 120px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}



.profile__info {
    padding-left: 30px;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

@media (max-width: 767px) {
    .profile__info {
        padding: 26px 0 36px;
    } 
}

.profile__name {
margin: 0;
width: max-content;
   font-style: normal;
font-weight: 500;
font-size: 42px;
line-height: 48px;
}

@media (max-width: 767px) {
    .profile__name {
font-size: 27px;
line-height: 33px;
text-align: center;
 }
}

.profile__name-description {
    margin: 0;
    width: max-content;
    max-height: 73px;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
}

@media (max-width: 767px) {
    .profile__name-description {
font-size: 14px;
line-height: 17px;
text-align: center;
 }
}

.profile__edit {
    position: absolute;
    right: -42px;
    top: 20px;
    margin-bottom: 8px;
    width: 24px;
    aspect-ratio: 1/1;
   align-self: end;
    background-image: url(../images/Vector.png);
    background-repeat: no-repeat;
    background-size: 7px;
    background-position: center;
    background-color: #000000;
    border: 2px solid #FFFFFF;
}

.profile__edit:hover, .profile__edit:active {
    opacity: 0.6;
}

@media (max-width: 767px) {
    .profile__edit {
justify-self: end;
 }
}







/* хз как сделать */
.profile__add {
    align-self: center;
    padding: 0;
    width: 150px;
    height: 50px;
    display: inline-block;
    justify-self: end;
    background-color: #000000;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    font-size: 41px;
    text-align: center;
}

.profile__add:hover, .profile__add:active {
    opacity: 0.6;
}

@media (max-width: 767px) {
    .profile__add {
        width: 282px;
    } 
}


.places {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-auto-rows: auto;
    gap: 20px 17px;
}

.card {
    
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 1/1.28;
    overflow: hidden;
}

.card__photo {
    width: 100%;
    aspect-ratio: 1/1;
 
    object-fit: cover;

}

.card__description {
    padding: 25px 20px 25px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    color: #000000;
}

.card__name {
    margin: 0;
}

.card__like {
   width: 22px;
   height: 19px;
   align-self: center;
   padding: 0;
   background-color: #FFFFFF;
   border: none;
  }

  .card__like-image {
    width: 100%;
    height: 100%;
  }
  
  .card__like:hover .card__like-image {
    background-color: red;
    border: none;
  }




.footer {
    width: 880px;
    padding: 67px 0 60px 0;
}

@media (max-width: 916px) {
    .footer {
        padding-left: 19px;
        padding-right: 19px;
        width: calc(100% - 19px*2);
    }
}

@media (max-width: 916px) {
    .footer {
        padding-top: 48px;
        padding-bottom: 36px;
        width: calc(100% - 19px*2);
    }
}


.copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}