.card__like {
  width: 22px;
  height: 19px;
  padding: 0;
  border: none;
  background: transparent url(../../../images/like-button-disabled.svg) no-repeat;
  background-size: contain;
}

.card__like:hover {
  opacity: 0.5;
}

.card__like:active {
  background-image: url(../../../images/like-button-active.svg);
  opacity: 1;
}
