.profile__photo {
  width: 120px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.profile__photo:hover::before {
  content: '';
  position: absolute;
  z-index: 1;
  background-color: black;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  transition: 2s;
}

.profile__photo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile__edit-pencil{
  transition: 2s;
}

.profile__photo:hover .profile__edit-pencil {
  position: absolute;
  z-index: 2;
  top: 47px;
  left: 47px;
}